@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');
@import "node_modules/slick-carousel/slick/slick-theme.scss";
@import "node_modules/slick-carousel/slick/slick.scss";


@font-face {
    font-family: 'Gilroy_bold';
    src: url('./fonts/Gilroy-ExtraBold.woff2') format('woff2'),
        url('./fonts/Gilroy-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy_semibold';
    src: url('./fonts/Gilroy-SemiBold.woff2') format('woff2'),
        url('./fonts/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy_regular';
    src: url('./fonts/Gilroy-Regular.woff2') format('woff2'),
        url('./fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy_thin';
    src: url('./fonts/Gilroy-Thin.woff2') format('woff2'),
        url('./fonts/Gilroy-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy_meduim';
    src: url('./fonts/Gilroy-Medium.woff2') format('woff2'),
        url('./fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@mixin dispaly($flex) {
    -webkit-flex-direction: $flex;
       -moz-flex-direction: $flex;
        -ms-flex-direction: $flex;
            flex-direction: $flex;
  }



h1{font-size: 100px;font-family: 'Gilroy_bold';}
h2{font-size: 60px; font-family: 'Pacifico', cursive;}
h3{font-size: 40px;font-family: 'Gilroy_bold'; }
h4{font-size: 24px;    font-family: 'Gilroy_thin'; }
p{font-size: 18px;    font-family: 'Gilroy_thin';}
h1, h2, h3, h4, h5, h6{margin: 0;}
ul{padding-left: 0; padding-right: 0;}
li{list-style: none;}
a{text-decoration: none;}
figure{margin: 0;}
figcaption{margin: 0;}

$yellow:#ffce00;
$black:#000;
$white:#ffff;



@mixin dispaly($flex) {
    -webkit-flex-direction: $flex;
       -moz-flex-direction: $flex;
        -ms-flex-direction: $flex;
            flex-direction: $flex;
  }

body{margin: 0 auto;     font-family: 'Gilroy_regular';  font-weight: normal;  font-style: normal }
  .container {	width: 100%; max-width: 1830px;	margin: 0 auto;	padding-left: 15px;	padding-right: 15px;box-sizing: border-box;}


  .primary_button {
         font-size: 15px;
         position: relative;
         z-index: 99;
         padding: 7px 12px;
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 600;color:#000;
            border: solid 2px #fadf00;
         &:hover{color: $yellow;}
         &::after {
            position: absolute;
            background-color: $yellow;
            content: "";
            width: 100%;      transition: all ease-in 0.5s;
            height: 100%;
            top: 0;
            right: 0;
            z-index: -1;
            left: 0;
            margin: 0 auto;
        }
     }

     .primary_button:hover::after{width: 0% !important; transition: all ease-out 0.5s;} 

    




@import "header";
@import "baner";


#baner {
	width: 100%;
    overflow: hidden;
    .slider_div {
        width: 100%;
        .firt_slide {
            width: 100%;
            figure{position: relative;
            img {
                width: 100%;
                height: 850px;
                object-fit: cover;
            }
        }
        .text {
            width: 100%;
            position: absolute;
            bottom: 94px;
            left: 0;
            right: 0;
            margin: 0 auto;
            text-align: center;

            h3{font-family: 'Pacifico', cursive; color: $white;}


            .primary_button {
                padding: 14px 34px;
                font-size: 17px;
                margin-top: 36px;
                display: inline-block;
            }
        }

        }
        .slick-prev {
            left: 37px;
            z-index: 99;
        }
        .a-right{width: 60px; height: 60px;}
        .slick-next {
            right: 37px;
            z-index: 99;
            
        }
        .a-left{width: 60px; height: 60px;}

    }
   



}

