@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese");
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

@font-face {
  font-family: 'Gilroy_bold';
  src: url("./fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("./fonts/Gilroy-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy_semibold';
  src: url("./fonts/Gilroy-SemiBold.woff2") format("woff2"), url("./fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy_regular';
  src: url("./fonts/Gilroy-Regular.woff2") format("woff2"), url("./fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy_thin';
  src: url("./fonts/Gilroy-Thin.woff2") format("woff2"), url("./fonts/Gilroy-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy_meduim';
  src: url("./fonts/Gilroy-Medium.woff2") format("woff2"), url("./fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

h1 {
  font-size: 100px;
  font-family: 'Gilroy_bold'; }

h2 {
  font-size: 60px;
  font-family: 'Pacifico', cursive; }

h3 {
  font-size: 40px;
  font-family: 'Gilroy_bold'; }

h4 {
  font-size: 24px;
  font-family: 'Gilroy_thin'; }

p {
  font-size: 18px;
  font-family: 'Gilroy_thin'; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

ul {
  padding-left: 0;
  padding-right: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

figure {
  margin: 0; }

figcaption {
  margin: 0; }

body {
  margin: 0 auto;
  font-family: 'Gilroy_regular';
  font-weight: normal;
  font-style: normal; }

.container {
  width: 100%;
  max-width: 1830px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box; }

.primary_button {
  font-size: 15px;
  position: relative;
  z-index: 99;
  padding: 7px 12px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
  border: solid 2px #fadf00; }
  .primary_button:hover {
    color: #ffce00; }
  .primary_button::after {
    position: absolute;
    background-color: #ffce00;
    content: "";
    width: 100%;
    transition: all ease-in 0.5s;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    left: 0;
    margin: 0 auto; }

.primary_button:hover::after {
  width: 0% !important;
  transition: all ease-out 0.5s; }

header {
  background-image: url(../../image/top-bar.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 84px;
  background-position: center center; }
  header .grid_row {
    display: grid;
    width: 100%;
    grid-template-columns: 18% 67% 15%;
    grid-template-rows: auto auto auto;
    padding-top: 9px; }
    header .grid_row .logo {
      width: 100%;
      align-self: center; }
      header .grid_row .logo figure img {
        width: 245px;
        height: 65px;
        object-fit: cover; }
    header .grid_row .menu {
      width: 100%;
      position: relative;
      align-self: center; }
      header .grid_row .menu nav ul li {
        display: inline-block;
        position: relative; }
        header .grid_row .menu nav ul li::after {
          position: absolute;
          content: "";
          background: yellow;
          width: 0%;
          height: 6px;
          bottom: -30px;
          right: 0;
          left: 0;
          margin: 0 auto;
          transition: all ease-in 0.7s; }
        header .grid_row .menu nav ul li a {
          font-size: 16px;
          color: white;
          text-transform: uppercase;
          padding: 0 5px;
          font-weight: 500;
          font-family: 'Gilroy_meduim'; }
          @media (min-width: 1600px) {
            header .grid_row .menu nav ul li a {
              font-size: 17px;
              padding: 0 7px; } }
      header .grid_row .menu nav ul li:hover::after {
        width: 100% !important;
        transition: all ease-out 0.6s; }
    header .grid_row .butoon_top_bar {
      width: 100%;
      display: grid;
      grid-template-columns: 42% 51%;
      grid-template-rows: auto auto;
      grid-column-gap: 15px;
      align-content: center; }
      header .grid_row .butoon_top_bar div {
        width: 100%;
        text-align: center; }
      header .grid_row .butoon_top_bar .Login {
        align-self: center;
        width: 100%; }
        header .grid_row .butoon_top_bar .Login a {
          border: solid 2px #ffce00;
          padding: 7px 15px;
          font-size: 15px;
          text-transform: uppercase;
          font-weight: 600;
          color: #ffce00;
          position: relative;
          z-index: 99; }
          header .grid_row .butoon_top_bar .Login a:hover {
            color: #000 !important; }
          header .grid_row .butoon_top_bar .Login a::after {
            position: absolute;
            background: #ffce00;
            width: 0;
            height: 100%;
            top: 0;
            right: 0;
            content: "";
            transition: all ease-in 0.5s;
            left: 0;
            margin: 0 auto;
            z-index: -1; }
      header .grid_row .butoon_top_bar .Login a:hover::after {
        width: 100%;
        transition: all ease-out 0.5s; }
      header .grid_row .butoon_top_bar .Join_Now {
        align-self: center;
        width: 100%; }
        header .grid_row .butoon_top_bar .Join_Now a {
          border: solid 2px #fadf00;
          padding: 7px 12px;
          font-size: 15px;
          text-transform: uppercase;
          font-weight: 600;
          color: #000;
          position: relative;
          z-index: 99; }
          header .grid_row .butoon_top_bar .Join_Now a:hover {
            color: #ffce00; }
          header .grid_row .butoon_top_bar .Join_Now a::after {
            position: absolute;
            background: #ffbf00;
            content: "";
            width: 100%;
            transition: all ease-in 0.5s;
            height: 100%;
            top: 0;
            right: 0;
            z-index: -1;
            left: 0;
            margin: 0 auto; }
        header .grid_row .butoon_top_bar .Join_Now a:hover::after {
          width: 0 !important;
          transition: all ease-out 0.5s; }

#baner {
  width: 100%;
  overflow: hidden; }
  #baner .slider_div {
    width: 100%; }
    #baner .slider_div .firt_slide {
      width: 100%; }
      #baner .slider_div .firt_slide figure {
        position: relative; }
        #baner .slider_div .firt_slide figure img {
          width: 100%;
          height: 850px;
          object-fit: cover; }
      #baner .slider_div .firt_slide .text {
        width: 100%;
        position: absolute;
        bottom: 94px;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center; }
        #baner .slider_div .firt_slide .text h3 {
          font-family: 'Pacifico', cursive;
          color: #ffff; }
        #baner .slider_div .firt_slide .text .primary_button {
          padding: 14px 34px;
          font-size: 17px;
          margin-top: 36px;
          display: inline-block; }
    #baner .slider_div .slick-prev {
      left: 37px;
      z-index: 99; }
    #baner .slider_div .a-right {
      width: 60px;
      height: 60px; }
    #baner .slider_div .slick-next {
      right: 37px;
      z-index: 99; }
    #baner .slider_div .a-left {
      width: 60px;
      height: 60px; }

#play {
  width: 100%;
  background-image: url(../../image/overlay-background.jpg);
  height: 100%;
  margin-top: -34px;
  padding-top: 50px;
  position: relative;
  z-index: 99;
  padding-bottom: 70px; }
  #play::after {
    position: absolute;
    content: "";
    background: rgba(143, 0, 6, 0.9);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1; }
  #play h2 {
    color: #ffff; }
  #play .hrading {
    text-align: center; }
  #play .play_grid_row {
    display: grid;
    grid-template-columns: 67% 30%;
    grid-column-gap: 3%; }
    #play .play_grid_row .number {
      width: 100%; }
      #play .play_grid_row .number .child_grid_row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center; }
        #play .play_grid_row .number .child_grid_row .main-area .step {
          display: flex;
          display: -webkit-flex;
          justify-content: center;
          justify-content: -webkit-center; }
          #play .play_grid_row .number .child_grid_row .main-area .step h1 {
            color: white; }
          #play .play_grid_row .number .child_grid_row .main-area .step h4 {
            align-self: end;
            transform: translate(6px, -13px);
            -webkit-transform: translate(6px, -13px);
            color: white;
            text-transform: uppercase;
            font-weight: 300; }
        #play .play_grid_row .number .child_grid_row .main-area figure {
          margin-top: 10px; }
          #play .play_grid_row .number .child_grid_row .main-area figure img {
            width: 140px;
            height: 140px; }
          #play .play_grid_row .number .child_grid_row .main-area figure figcaption {
            margin-top: 19px; }
            #play .play_grid_row .number .child_grid_row .main-area figure figcaption h3 {
              color: white;
              font-weight: 800;
              text-transform: uppercase; }
            #play .play_grid_row .number .child_grid_row .main-area figure figcaption p {
              color: white;
              margin-top: 14px; }
    #play .play_grid_row .bar_code {
      width: 100%;
      text-align: center;
      background: rgba(95, 0, 4, 0.7);
      margin-top: 30px; }
      #play .play_grid_row .bar_code .overlay {
        width: 100%; }
        #play .play_grid_row .bar_code .overlay .heading {
          width: 100%; }
          #play .play_grid_row .bar_code .overlay .heading h3 {
            color: white;
            line-height: 44px;
            margin-top: 30px; }
          #play .play_grid_row .bar_code .overlay .heading p {
            color: white;
            margin-top: 12px; }
        #play .play_grid_row .bar_code .overlay .image {
          width: 100%; }
          #play .play_grid_row .bar_code .overlay .image figure {
            width: 70%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 0 auto;
            border: solid 2px #ffce00; }
            #play .play_grid_row .bar_code .overlay .image figure img {
              width: 108px;
              height: 108px; }
            #play .play_grid_row .bar_code .overlay .image figure figcaption {
              align-self: center; }
              #play .play_grid_row .bar_code .overlay .image figure figcaption .primary_button.btn {
                padding: 9px 23px;
                margin-left: -28px; }
  #play .paly_game {
    width: 100%;
    margin-top: 70px; }
    #play .paly_game .paly_heading {
      background-image: url(../../image/yelolow.png);
      text-align: center;
      height: 144px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
      #play .paly_game .paly_heading h2 {
        color: #ffff;
        font-size: 44px;
        padding-top: 14px; }
      #play .paly_game .paly_heading p {
        margin-top: 4px;
        color: white; }
    #play .paly_game .paly_game_grid_row {
      display: grid;
      grid-template-columns: 32.333% 33.333% 32.333%;
      grid-column-gap: 2%;
      overflow: hidden; }
      #play .paly_game .paly_game_grid_row h2 {
        font-family: 'Gilroy_regular'; }
      #play .paly_game .paly_game_grid_row .highest {
        width: 100%;
        text-align: center;
        background-image: url(../../image/highest.jpg);
        height: 100%;
        background-size: cover;
        background-position: center center;
        padding-top: 90px; }
        #play .paly_game .paly_game_grid_row .highest .four_d {
          width: 80%;
          border: solid 1px white;
          margin: 0 auto;
          padding-top: 35px;
          padding-bottom: 63px; }
        #play .paly_game .paly_game_grid_row .highest #play h2 {
          color: #ffff; }
        #play .paly_game .paly_game_grid_row .highest p {
          margin-top: -1px;
          color: white;
          font-size: 22px; }
        #play .paly_game .paly_game_grid_row .highest .main-button {
          border: solid 2px;
          color: yellow;
          padding: 6px 25px;
          font-weight: 600;
          font-size: 17px;
          display: inline-block; }
      #play .paly_game .paly_game_grid_row .casion_games_grid_row {
        width: 100%; }
        #play .paly_game .paly_game_grid_row .casion_games_grid_row .live {
          width: 100%;
          background-image: url(../../image/live.jpg);
          height: 340px;
          background-size: cover;
          background-position: center left; }
          #play .paly_game .paly_game_grid_row .casion_games_grid_row .live .heading {
            width: 94%;
            margin-left: auto;
            padding-top: 19px; }
            #play .paly_game .paly_game_grid_row .casion_games_grid_row .live .heading h2 span {
              font-size: 45px !important;
              color: #ffff;
              text-transform: uppercase; }
          #play .paly_game .paly_game_grid_row .casion_games_grid_row .live .evolution {
            width: 50%;
            margin-top: 21px;
            border: solid 1px white;
            margin-left: 30px;
            text-align: center;
            padding-top: 11px;
            padding-bottom: 27px; }
            #play .paly_game .paly_game_grid_row .casion_games_grid_row .live .evolution p {
              color: white;
              margin-top: 0; }
        #play .paly_game .paly_game_grid_row .casion_games_grid_row .sports {
          background-image: url(../../image/english.jpg);
          width: 100%;
          margin-top: 23px;
          text-align: center;
          background-size: cover;
          height: 377px;
          background-position: center center; }
          #play .paly_game .paly_game_grid_row .casion_games_grid_row .sports h2 span {
            font-size: 45px !important;
            color: #ffff;
            text-transform: uppercase; }
          #play .paly_game .paly_game_grid_row .casion_games_grid_row .sports .sports_child_grid {
            display: grid;
            grid-template-columns: 23% 50% 23%;
            grid-template-rows: auto auto auto;
            margin-top: 28px;
            grid-column-gap: 3%; }
            #play .paly_game .paly_game_grid_row .casion_games_grid_row .sports .sports_child_grid .englis_premiure {
              border: solid 1px white;
              padding-top: 22px;
              padding-bottom: 35px; }
              #play .paly_game .paly_game_grid_row .casion_games_grid_row .sports .sports_child_grid .englis_premiure span {
                font-size: 14px;
                color: white;
                font-weight: 600; }
              #play .paly_game .paly_game_grid_row .casion_games_grid_row .sports .sports_child_grid .englis_premiure h5 {
                font-size: 24px;
                color: white;
                line-height: 26px;
                margin-top: 7px; }
              #play .paly_game .paly_game_grid_row .casion_games_grid_row .sports .sports_child_grid .englis_premiure h6 {
                font-size: 14px;
                color: white;
                margin-top: 9px;
                font-weight: 600; }
              #play .paly_game .paly_game_grid_row .casion_games_grid_row .sports .sports_child_grid .englis_premiure .play_noww {
                transform: translate(0px, 43px);
                -webkit-transform: translate(0px, 43px); }
          #play .paly_game .paly_game_grid_row .casion_games_grid_row .sports figcaption {
            color: white;
            font-size: 14px;
            font-weight: 600;
            text-align: center;
            text-transform: uppercase; }
          #play .paly_game .paly_game_grid_row .casion_games_grid_row .sports .aston {
            align-self: center;
            transform: translate(-5px, 0);
            -webkit-transform: translate(-5px, 0); }
      #play .paly_game .paly_game_grid_row .promtion {
        width: 100%;
        background-image: url(../../image/promtion.jpg);
        height: 740px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom; }
        #play .paly_game .paly_game_grid_row .promtion .haeding {
          border: solid 1px white;
          text-align: center;
          width: 80%;
          position: absolute;
          bottom: 68px;
          left: 0;
          right: 0;
          margin: 0 auto; }
          #play .paly_game .paly_game_grid_row .promtion .haeding h2 span {
            font-size: 42px;
            margin-top: -17px; }
          #play .paly_game .paly_game_grid_row .promtion .haeding p {
            margin-top: 0;
            color: white; }
          #play .paly_game .paly_game_grid_row .promtion .haeding .play_noww {
            transform: translate(3px, 9px);
            -webkit-transform: translate(3px, 9px); }
    #play .paly_game .bonus {
      width: 100%;
      position: relative;
      height: 100%; }

#slots {
  width: 100%;
  display: block;
  overflow: hidden;
  background-image: url(../../image/spiderman.jpg);
  position: relative;
  z-index: 999;
  padding-top: 50px; }
  #slots::after {
    position: absolute;
    background: rgba(238, 174, 0, 0.8);
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1; }
  #slots .heading {
    width: 100%;
    text-align: center; }
    #slots .heading h2 {
      color: white; }
    #slots .heading p {
      margin-top: 7px;
      color: white; }
  #slots .slider_area {
    width: 100%;
    margin-top: 60px; }
    #slots .slider_area figure img {
      width: 100%;
      height: 550px;
      object-fit: cover;
      position: relative; }
    #slots .slider_area figcaption {
      transform: translate(0px, -82px);
      -webkit-transform: translate(0px, -82px);
      text-align: center;
      color: white;
      width: 100%;
      display: block;
      overflow: hidden; }
    #slots .slider_area .sart.slick-slide.slick-cloned.slick-active img {
      height: 600px !important; }
